[global]
  checkNewVersion = true
  sendAnonymousUsage = true

[entryPoints]
  [entryPoints.http]
    address = ":80"
  [entryPoints.https]
    address = ":443"

[api]

[providers]
  providersThrottleDuration = "2s"
  [providers.docker]
    watch = true
    swarmModeRefreshSeconds = "15s"
    exposedByDefault = false
  [providers.file]
    filename = "/config/dynamic_conf.toml"
    watch = true

[log]
  level = "INFO"

[certificatesResolvers]
  [certificatesResolvers.default]
    [certificatesResolvers.default.acme]
      email = "ACME_EMAIL"
      storage = "/config/acme.json"
      [certificatesResolvers.default.acme.dnsChallenge]
        provider = "cloudflare"
        delayBeforeCheck = "0s"

